{% extends 'website/base.html' %}

{% block body %}

<div class="main-banner">
    <title>Home</title>
    <div class="jumbotron">
        <h1 class="display-1">Hello! {{ request.user.first_name }}</h1>
        <hr class="my-2">

        <p class="lead">
        <p>First Name: {{ request.user.first_name }}</p>
        <p>Last Name: {{ request.user.last_name }}</p>
        <p>Email: {{ request.user.email }}</p>
        </p>
        <a class="btn btn-primary btn-lg" href="{% url 'profile_update' %}">Edit Profile</a>
        <a class="btn btn-primary btn-lg" href="{% url 'logout' %}">Logout</a>
        <a class="btn btn-primary btn-lg" href="{% url 'tasks' %}">Task</a>
    </div>
</div>
{% endblock %}